html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        link(rel='import' href='sections/user_card.pug')

        script.
          if (typeof module === 'object') {window.module = module; module = undefined;}
        script(src='assets/js/jquery-3.3.1.min.js')
        script(src='assets/js/jquery.scrollex.min.js')
        script(src='assets/js/jquery.scrolly.min.js')
        script(src='assets/js/util.js')
        link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css', integrity='sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I', crossorigin='anonymous')
        script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js', integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')
        script(src='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js', integrity='sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe', crossorigin='anonymous')
        link(rel='stylesheet', href='assets/css/style.css')
        script(src='assets/js/index.js')
        script.
            $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
            if (window.module) module = window.module;

    body
        div.container-fluid
            div.jumbotron(style='height: 100%').row.justify-content-center.fadeOut#login-content
                div.col-5#content
                    h3#welcome.text-muted Добро Пожаловать
                    form#loginForm
                        h3.text-muted Вход в систему
                        .form-group
                            label(for='loginInput') Логин
                            input#loginInput.form-control(type='text', aria-describedby='emailHelp', placeholder='Ваш логин')
                            small#emailHelp.form-text.text-muted Введите свой логин
                        .form-group
                            label(for='passwordInput') Пароль
                            input#passwordInput.form-control(type='password', placeholder='Ваш пароль')
                        .form-check
                            button.btn.btn-primary#loginBtn(type='submit') Войти
            div.row#main-content
