.alert.alert-danger.alert-dismissible.fade.show(role='alert')
    button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') &times;    
    strong Не удалось войти в систему. 
    span Проверьте введенные данные и подключение к интернету.