div.col-8#main-block
    script.
        if (typeof new_reminders_view_loaded === 'undefined')
            $.getScript('assets/js/new_reminders.js', null);
        else
            polling();
    h3#main-block-title Новые уведомления
    div#main-block-content

    #reminderModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    img.img-fluid(src='', alt='Фото пациента')
                .modal-body
                    h5 Залупин Педор Вагинович
                    .card-subtitle.mb-2.text-muted
                    p Info info info info
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть