div.card.col-12.reminder
    div.card-body
        a(href='#' onclick='view_info(this.parentElement);')
            h5.card-title= card_title
        h6.card-subtitle.mb-2.text-muted= measure_date
        p.card-text= measure_text
        button.btn.btn-success(type='button', onclick=status_good_click) Всё в норме
        button.btn.btn-danger(type='button', onclick=status_bad_click) Сообщить о нарушении
        div.measure_id(style='display: none;')= measure_id
        div.current-photo(style='display: none;')= photo_url