div.col-8#main-block
    script.
        if (typeof settings_view_loaded === 'undefined')
            $.getScript('assets/js/settings.js', null);
        else
            init_settings_view();
    h3#main-block-title Настройки
    div#main-block-content
        .btn-group-toggle(data-toggle='buttons')
            label.btn.btn-secondary.active
                input#notif-checkbox(type='checkbox', checked='checked', autocomplete='off', onclick='notif_checkbox_click(this);')
                |  Уведомления на рабочем столе