div(style='width:14rem; height: 100%;')
div.card.sticky(style='width: 14rem;')
    div.card-body
        h3 Приложение доктора
        nav.nav.flex-column
            div.dropdown-divider
            a.nav-link(href='#' onclick='go_to_view("new_reminders.pug")') Главное
            a.nav-link(href='#' onclick='go_to_view("users.pug")') Пользователи
            a.nav-link(href='#' onclick='go_to_view("settings.pug")') Настройки
    div.card-footer
        p.card-text (c) 2018 All rights reserved
