.card.text-center.float-left.user-card
    img.card-img-top(src=card_photo)
    .card-body
        h5.card-title= card_title
        p.card-text= card_text
        a.btn.btn-primary(href='#' onclick='view_user_info(this.parentElement.parentElement);') Подробности
        .user-id(style='display: none;')= user_id