div.col-8#main-block
    script.
        if (typeof users_view_loaded === 'undefined')
            $.getScript('assets/js/users.js', null);
        else
            obtain_users();
    h3#main-block-title Пользователи
    div.row#main-block-content

