.wrap-text{
	overflow-wrap:break-word;
}

.card-margin {
	margin-top: 1rem;
}

.content {
	margin-bottom: 1rem; 
}

.no-fluid {
	overflow: hidden;
}

#welcome {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s, display 1s linear;
}

#loginForm {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s, display 1s linear;
}

#main-block {
    padding-top: 1.25rem;
}

#main-content {
    transition: opacity 500ms linear;
}

#login-content {
    transition: opacity 500ms linear;
}

#main-block-content {
    margin-bottom: 1.25rem;
}

.reminder {
    margin-top: 1.25rem;
}

.sticky {
    position: fixed;
    top: 0;
    height: 100%;
}

.user-card {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    width: 14rem;
}